body{
    margin:0;
    padding:0;
    background-color:gray;
}

nav{
    background-color: blue;
    text-align: center;
    padding: 20px;
    width: 100%;
    color: azure;
    /* ---------- */
    position:fixed;
    top:0;

}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding-left: 20px;

}

article{

    font-size: large;
    padding-left: 30%;
    padding-right: 30%;
    /* -----------..  */
    margin-top: 125px;
}

